/* CSS HEX */
:root {
  --steel-blue: #437ca2ff;
  --air-force-blue: #7793a6ff;
  --silver: #aaaaaaff;
  --ash-gray: #a9bbbdff;
  --light-blue: #a7cbcfff;
  --celeste: #a4ebf3ff;
  --celeste-2: #b8eff4ff;
  --light-cyan: #ccf2f4ff;
  --seasalt: #f5fafaff;
}