/* External */
/* font: https://www.cdnfonts.com/euclid-circular-a.font */
/* icons: https://flowbite.com/icons/*/
@import url('https://fonts.cdnfonts.com/css/euclid-circular-a?styles=100037,100034,100036,100039,100031');

@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
	--color-primary: #2f57ef;
	--color-secondary: #b966e7;

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

html {
	font-family: 'Euclid Circular A', sans-serif;
	line-height: 1.5;
	font-weight: 400;
	color: #6b7385;
}

body {
	width: 100vw;
	min-height: 100vh;
	background-image: url("/public/hero-bg.png");
}

.theme-gradient {
	background: linear-gradient(90deg, var(--color-primary), var(--color-secondary));
	-webkit-text-fill-color: transparent;
	-webkit-background-clip: text;
}
